<div id="page-content">
  <h1 xmlns="http://www.w3.org/1999/html" class="center mt-4">Edit existing article</h1>
  <%= render 'form' %>
  <div class="col-sm-5 offset-sm-5 mb-4 mt-4">
    <%= link_to "[ Cancel and back to article ]", article_path(@article), class: "mb-4" %>
  </div>
</div>