<div id="page-content">
  <h1 xmlns="http://www.w3.org/1999/html" class="center mt-4">Create an article</h1>
  <%= render 'form' %>
  <div class="col-sm-5 offset-sm-5">
    <%= link_to "[ Cancel and back to articles listing ]", articles_path, class: "mb-4" %>
  </div>
</div>