<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge"%>
  <h3>Let's share everything together for the development of society</h3>
</div>