@import 'bootstrap/dist/css/bootstrap';

//home page

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url("jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 480px;
}

a#btn-jumbotron {
  background-color: black;
  margin-top: 20px;
}

a#btn-jumbotron:hover {
  background-color: #dc3545;
}

p.lead {
  margin-top: 40px;
}

//common

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: unset;
}

.navbar {
  background-color: black !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar a:hover{
  color: #dc3545;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #dc3545;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #dc3545;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #dc3545;
  text-decoration: none;
}

a.nav-link {
  font-size: larger;
}

.navbar a {
  color: black;
}

.center {
  text-align: center;
}

.btn-xlarge {
  font-size: 1.2em;
  background-color: black;
}

.article-action {
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  align-self: center;
}

.row.all-article {
  margin-top: 30px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

form.new_article, form.edit_article {
  margin-top: 40px;
}

.alert {
  margin-top: 10px;
}

span.navbar-toggler-icon {
  background-color: white;
}