<div id="page-content">
  <h1 xmlns="http://www.w3.org/1999/html" class="center mt-4">Edit category name</h1>
  <%= render 'categories/form' %>
  <div class="col-sm-5 offset-sm-5">
    <%= link_to "[ Cancel and back to category ]", category_path(@category), class: "mb-4 mt-4" %>
  </div>
</div>
